#headline, .subHead, .txt, .blueMark {
  font-family: Helvetica;
}

#headline, .subHead, .blueMark {
  font-weight: bold;
}

#headline {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("../resources/pattern.jpeg");
}

.subHead {
  font-size: 32px;
  color: white;
}

.blueMark {
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
